.page-wrapper {
    padding: 40px;
    color: #c3a46c;
    direction: rtl;
    font-size: 24px;
}

.first-header {
    padding: 12px;
}

.second-header {
    font-weight: bold;
}

.glass-breaking-text {
    font-weight: bold;
}

.paragraph {
    font-size: 16px;
}

