.page-wrapper {
    padding: 40px;
    color: white;
    direction: rtl;
    font-size: 24px;
}

.first-header {
    margin-top: 140px;
    font-size: 140px;
    color: #FF8C00;
    padding: 12px;
    font-weight: bold;
}

.second-header {
    font-weight: bold;
}

.glass-breaking-text {
    font-weight: bold;
}

.paragraph {
    margin-top: 140px;
    font-size: 60px;
}

.vote-text {
    margin-bottom: 20px;
}

