@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

.clock {
    font-size: 4vh;
    display: flex;
    margin: 10px;
    color: #97845d;
    justify-content: center;
    font-family: Orbitron;
    letter-spacing: 7px;
    overflow: hidden;
}

