
.winning-song-page-wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.winning-song-wrapper {
    font-size: 36px;
}

.winning-song-description {
    direction: rtl;
}
